/* Navbar */

.navbar-container{
    display: flex;
    margin: 0px;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}
a{
    color: gray;
    text-decoration: none;
    margin-right: 10px;
}
a:hover{
    color: blue;
    cursor: pointer;
}


/* Cards */
img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.cards{
    width: 150px;
    text-align: center;
    /* border: solid black 2px; */
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
button{
    margin: 5px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2px;
}

button:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
}



